.nav {
  width: 100%;
  // height: auto;
  height: 71px;
  background-color: var(--light-blue);
  padding: 20px 0;
  position: fixed;
  // position: relative;
  z-index: 999;
  top: 0;

  .nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      font-family: var(--font-spaceGrotesk);
      font-weight: var(--fw-bold);
      font-size: 24px;
      color: var(--light-gray);
    }

    // link for desktop design
    .nav-links-desktop {
      display: none; //flex
      align-items: center;
      gap: 37px;

      @media screen and (min-width: 744px) {
        display: flex;
      }

      li {
        .link-desktop {
          color: var(--light-gray);
          font-size: 1rem;
          font-weight: var(--fw-regular);

          &.link-btn {
            background-color: var(--dark-blue);
            padding: 9px 23px;
            border-radius: 4px;
            transition: background 0.2s ease-in-out;

            &:hover {
              background-color: rgba(10, 75, 136, 0.7);
            }
          }
        }
      }
    }

    // menu btn mobile
    .menu-btn {
      width: 30px;
      height: 38px;
      // background-color: rgb(173, 76, 76);
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      overflow: hidden;
      cursor: pointer;

      input[type="checkbox"] {
        display: none;
      }
      & > .line {
        width: 100%;
        height: 3px;
        background-color: var(--light-gray);
        transition: transform 0.2s ease-in-out;
      }
      input[type="checkbox"]:checked ~ .line1 {
        transform: rotate(43deg) translate(8px, 8px);
        transition: transform 0.2s ease-in-out;
      }
      input[type="checkbox"]:checked ~ .line2 {
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
      }
      input[type="checkbox"]:checked ~ .line3 {
        transform: rotate(-45deg) translate(7px, -6px);
        transition: transform 0.2s ease-in-out;
      }
      input[type="checkbox"]:checked ~ .nav-links-mobile {
        top: 71px;
        transition: top 0.2s ease-in-out;
      }

      @media screen and (min-width: 744px) {
        display: none;
      }
    }
  }
}

// link for mobile view
.nav-links-mobile {
  background-color: var(--very-light-blue);
  padding: 21px 23px;
  position: absolute;
  top: -100vh;
  left: 0;
  right: 0;
  transition: top 0.3s ease-in-out;

  .links {
    border-bottom: 1px solid var(--dark);
    padding-bottom: 12px;
  }
  .auth {
    padding-top: 12px;
  }

  .links,
  .auth {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }
  .link-mobile {
    font-size: 1rem;
    font-weight: var(--fw-regular);
    color: var(--dark);
  }
}
