.nav {
  width: 100%;
  height: auto;
  background-color: var(--light-blue);
  padding: 20px 0;

  .nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    // link for desktop design
    .nav-links-desktop {
      display: flex;
      align-items: center;
      gap: 37px;
    }
  }
}
