.home {
  // header
  .header {
    .hero {
      margin-top: 71px;
      padding: 144px 36px;
      background-color: var(--hero-bg);
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      h1 {
        font-family: var(--font-spaceGrotesk);
        font-size: clamp(1.875rem, 0.835rem + 4.8232vw, 2.8125rem);
        color: var(--dark);
        font-weight: var(--fw-bold);
        margin-bottom: 18px;
        @media screen and (min-width: 744px) {
          font-size: clamp(2.8125rem, 1.7429rem + 2.6087vw, 3.75rem);
        }
      }
      p {
        font-size: clamp(1.1875rem, 0.9102rem + 1.2862vw, 1.4375rem);
        color: var(--dark);
        font-weight: var(--fw-regular);
        margin-bottom: 27px;
      }
      .cta-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  // featured blog section
  .feature-section {
    padding: 36px 0px;
    overflow: hidden;
    margin-bottom: calc(115px - 36px);

    .featuredBlog-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(341px, 1fr));
      row-gap: 42px;
      column-gap: 30px;
    }
  }
  // blog section
  .blog-section {
    padding-bottom: 36px;
    .blog-container {
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: repeat(2, auto);
      row-gap: 54px;

      @media screen and (min-width: 1000px) {
        grid-template-columns: 1fr 378px;
        grid-template-rows: auto;
        column-gap: 41px;
        grid-template-areas: "blog category";
      }

      .discover-container {
        @media screen and (min-width: 1000px) {
          margin-top: calc(20px + 28px);
          grid-area: category;
        }
        .sticky {
          @media screen and (min-width: 1000px) {
            position: sticky;
            top: 100px;
          }
        }
        h3 {
          font-size: 1rem;
          font-weight: var(--fw-bold);
          margin-bottom: 25px;
        }
        .topic-container {
          display: flex;
          flex-wrap: wrap;
          gap: 14px;
          & > .topic {
            background-color: #d7d7d7;
            padding: 8px 19px;
            border-radius: 4px;
            font-size: 1rem;
            font-weight: var(--fw-regular);
            color: var(--dark);
          }
        }
      }
      .blog-post-container {
        @media screen and (min-width: 1000px) {
          grid-area: blog;
        }
        .blog {
          display: grid;
          grid-template-rows: auto;
          grid-template-columns: 1fr;
          row-gap: 53px;
        }
      }
    }
  }
}
