.signin-container {
  width: 100%;
  height: auto;
  min-height: 100vh;
  background-color: var(--light-gray);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: calc(100vh - 90vh) 0;

  .signin {
    background-color: var(--light-gray);
    border-radius: 4px;
    background: var(--light-gray);
    box-shadow: 17px 17px 34px #949494, -17px -17px 34px #ffffff;
    padding: 35px 13px;

    @media screen and (min-width: 600px) {
      width: 500px;
      padding: 47px 35px;
    }
    @media screen and (min-width: 744px) {
      width: 569px;
      padding: 60px 63px;
    }

    h1 {
      font-family: var(--font-spaceGrotesk);
      font-size: clamp(1.5rem, 1.3546rem + 0.6764vw, 1.875rem);
      font-weight: var(--fw-medium);
      color: var(--dark);
      margin-bottom: 20px;
    }
    p {
      font-size: clamp(0.75rem, 0.7015rem + 0.2255vw, 0.875rem);
      font-weight: var(--fw-regular);
      margin-bottom: 34px;
      .signup-link {
        font-weight: var(--fw-bold);
        &:hover {
          text-decoration: underline;
        }
      }
    }

    // error style
    .signin-error {
      padding: 16px 10px;
      margin-bottom: 34px;
      border-radius: 4px;
      background-color: var(--error-bg);
      display: flex;
      align-items: center;
      gap: 15px;
      .error-container {
        display: flex;
        flex-direction: column;
        gap: 5px;
        h4 {
          color: var(--dark);
        }
        .error-message {
          margin: 0;
          color: var(--dark);
        }
      }
    }

    .signin-form {
      & > .input-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 28px;
        label {
          font-family: var(--font-spaceGrotesk);
          font-size: 13px;
          color: #989898;
        }
        input {
          padding: 9px 10px;
          border-radius: 4px;
          font-size: 14px;
          background-color: transparent;
          border: 1px solid #989898;
          font-family: var(--font-spaceGrotesk);
          color: var(--dark);
          font-weight: var(--fw-regular);
        }
      }
      .signin-btn {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }
    }
  }
}
