:root {
  --blue: #1f5a90;
  --light-blue: #5390c9;
  --grayish-blue: #6b7986;
  --hero-bg: #c0daf3;
  --very-light-blue: #e4eaf3;
  --dark-blue: #0a4b88;
  --light-gray: #f1f1f1;
  --dark: #292929;
  --line-color: #d7d7d7;

  --font-Roboto: "Roboto", sans-serif;
  --font-spaceGrotesk: "Space Grotesk", sans-serif;

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 100%;
}

input {
  border: none;
  outline: none;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  font-family: var(--font-Roboto);
  color: var(--dark);
  background-color: var(--light-gray);
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
}
.wrapper {
  max-width: 1234px;
  width: 90%;
  margin: 0 auto;
}

#btn {
  height: 41px;
  // width: 99px;
  padding: 9px 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dark-blue);
  color: var(--light-gray);
  border-radius: 4px;
  font-size: 1rem;
  font-weight: var(--fw-regular);
  cursor: pointer;
  transition: background 0.2s ease-in-out;

  &:hover {
    background-color: rgba(10, 75, 136, 0.7);
  }
}

.title {
  display: flex;
  align-items: center;
  gap: 11px;
  font-size: 1rem;
  font-weight: var(--fw-bold);
  margin-bottom: 28px;
}
.sticky {
  position: sticky;
  top: 100px;
}

#error-message {
  background-color: rgb(236, 178, 178);
  padding: 12px 10px;
  border-radius: 4px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  li {
    position: relative;
    margin-left: 17px;
    color: rgb(206, 32, 32);
    font-size: 14px;
    &::before {
      content: "";
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: rgb(206, 32, 32);
      position: absolute;
      top: 50%;
      left: -15px;
      transform: translateY(-50%);
    }
  }
}
